In [10]:
import random
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from deap import base,creator, tools

In [2]:
dataset = pd.read_csv('dataset.csv', delimiter=';', low_memory='False')

In [3]:
#Drop columns that are not needed
dataset = dataset.drop(['user','gender','age','how_tall_in_meters','weight','body_mass_index'], axis=1)

In [6]:

#Centering
scaler = StandardScaler(with_mean=True, with_std=False)
dataset[['x1','y1','z1','x2','y2','z2','x3','y3','z3','x4','y4','z4']] = scaler.fit_transform(dataset[['x1','y1','z1','x2','y2','z2','x3','y3','z3','x4','y4','z4']])

#MinMax Scaling
scaler = MinMaxScaler();
dataset[['x1','y1','z1','x2','y2','z2','x3','y3','z3','x4','y4','z4']] = scaler.fit_transform(dataset[['x1','y1','z1','x2','y2','z2','x3','y3','z3','x4','y4','z4']])

In [7]:
#Getting the means
means = dataset.groupby('Class')[['x1','y1','z1','x2','y2','z2','x3','y3','z3','x4','y4','z4']].mean()

In [8]:
#Separating means for the sitting state and the other states
sitting_mean = means.T.pop('sitting').T
states_means = means.T.drop('sitting', axis=1).T

sitting_mean

x1    0.366705
y1    0.419138
z1    0.545830
x2    0.449931
y2    0.568754
z2    0.716909
x3    0.519283
y3    0.581117
z3    0.505974
x4    0.827674
y4    0.680005
z4    0.759148
Name: sitting, dtype: float64

In [9]:
states_means

,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
Class,,,,,,,,,,,,
sittingdown,0.373142,0.457112,0.480843,0.414011,0.555831,0.608343,0.504431,0.598439,0.511138,0.753158,0.702511,0.801967
standing,0.367495,0.458642,0.489369,0.491653,0.702995,0.638789,0.518889,0.600316,0.513219,0.760258,0.720067,0.768590
standingup,0.368815,0.450662,0.476264,0.404896,0.544285,0.593578,0.488990,0.550286,0.496797,0.735012,0.708399,0.775540
walking,0.365761,0.462549,0.480816,0.312931,0.447328,0.413280,0.509756,0.624089,0.504906,0.749150,0.729366,0.750483